simple-cp-matcher/src/main/xsd/tresor_schema.xsd

<?xml version="1.0"?>
<ns:schema xmlns="http://www.open-service-compendium.org" xmlns:ns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.open-service-compendium.org" elementFormDefault="qualified">
  <ns:element name="services">
    <ns:annotation>
      <ns:documentation>A list of services.</ns:documentation>
    </ns:annotation>
    <ns:complexType>
      <ns:sequence>
        <ns:element name="service" type="Service" minOccurs="0" maxOccurs="unbounded"/>
      </ns:sequence>
    </ns:complexType>
  </ns:element>
  <ns:element name="service" type="Service">
    <ns:annotation>
      <ns:documentation>The root element of a service.</ns:documentation>
    </ns:annotation>
  </ns:element>
  <ns:complexType name="SDLTypeBase" abstract="true">
    <ns:annotation>
      <ns:documentation>The base type of all SDL types and facts. Contains annotations and documentation.</ns:documentation>
    </ns:annotation>
    <ns:attribute name="annotation" type="ns:string">
      <ns:annotation>
        <ns:documentation>An arbitrary annotation to be displayed for the description consumer.</ns:documentation>
      </ns:annotation>
    </ns:attribute>
    <ns:attribute name="uri">
      <ns:annotation>
        <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
      </ns:annotation>
    </ns:attribute>
  </ns:complexType>
  <ns:complexType name="Service">
    <ns:annotation>
      <ns:documentation>A service</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ServiceProperties"/>
        </ns:sequence>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ServiceProperties">
    <ns:sequence>
      <ns:element name="service_name" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Service name</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="provider" type="Provider" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The service provider</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="cloud_service_model" type="CloudServiceModel" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The cloud service model</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="service_category" type="ServiceCategory" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Categories</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="service_tag" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Tags</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="add_on_repository" type="AddOnRepository" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The service add-on repositories</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="is_charged_by" type="ChargeUnit" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Charging unit</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="data_location" type="Location" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Service data storage location</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="data_deletion_policy" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The data deletion policy</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="status_page" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The status page URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="public_service_level_agreement" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>URL of public SLA</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="data_encryption" type="DataEncryption" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Details about service data encryption</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="audit_option" type="AuditOption" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>The audit options</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="is_billed" type="BillingAndPayment" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Billing and Payment info</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="payment_option" type="PaymentOption" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Payment options</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="set_up_consumption_duration" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The duration for setting up the service.</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="provision_end_user_duration" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The duration for provisioning an end user.</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="feature" type="Feature" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Service features</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="documentation" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Service documentation URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="rest_interface" type="RestInterface" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The REST interface</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="soap_interface" type="SoapInterface" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The SOAP interface</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="xmlrpc_interface" type="XmlrpcInterface" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The XMLRPC interface</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="compatible_browser" type="CompatibleBrowser" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Compatible Browsers</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="required_plugin" type="RequiredPlugin" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Required Browser-Plugins</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="maintenance_free" type="MaintenanceFree" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The service is maintenance free</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="maintenance_window" type="MaintenanceWindow" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The service has a maintenance window</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="future_roadmap" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Future roadmap URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="past_release_notes" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Past release notes URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="feedback_page" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Feedback page URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="exportable_data_format" type="DataFormat" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Exportable data formats</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="importable_data_format" type="DataFormat" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Importable data formats</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="is_protected_by" type="CommunicationProtection" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Service protection means</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="can_be_used_offline" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Offline capability information</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:boolean">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="established_in" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Service established in</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:decimal">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="location_enabled" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The service supports location-based computing</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:boolean">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:complexType name="Timespan">
    <ns:annotation>
      <ns:documentation>An arbitrary timespan</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="TimespanProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="TimespanIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="TimespanProperties">
    <ns:sequence>
      <ns:element name="start" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The timespan start</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="end" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The timespan end</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="TimespanIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="Provider">
    <ns:annotation>
      <ns:documentation>A service provider</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ProviderProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ProviderIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ProviderProperties">
    <ns:sequence>
      <ns:element name="provider_name" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Name</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="provider_location" type="SpecificLocation" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Location</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="company_type" type="CompanyType" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Company type</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="employs" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Number of employees</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:decimal">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="partner_network" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Partner network</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="reference_customer" type="ReferenceCustomer" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Reference customers</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="last_years_revenue" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Last years revenue</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="initiative" type="Initiative" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Participatory initiatives</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="report" type="ReportingInformation" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>Published reports</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="ProviderIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="Jurisdiction">
    <ns:annotation>
      <ns:documentation>A jurisdictional area</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="JurisdictionProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="JurisdictionIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="JurisdictionProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="JurisdictionIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="european_union">
        <ns:annotation>
          <ns:documentation>European Union</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="safe_harbour">
        <ns:annotation>
          <ns:documentation>Safe Harbour</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="Country">
    <ns:annotation>
      <ns:documentation>A country</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="CountryProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="CountryIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="CountryProperties">
    <ns:sequence>
      <ns:element name="jurisdiction" type="Jurisdiction" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The jurisdictions the country falls under</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="CountryIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="germany">
        <ns:annotation>
          <ns:documentation>Germany</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="Address">
    <ns:annotation>
      <ns:documentation>A postal address</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="AddressProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="AddressIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="AddressProperties">
    <ns:sequence>
      <ns:element name="address_line" minOccurs="0" maxOccurs="unbounded">
        <ns:annotation>
          <ns:documentation>The address lines</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="AddressIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="Location">
    <ns:annotation>
      <ns:documentation>Location information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="LocationProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="LocationIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="LocationProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="LocationIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="SpecificLocation">
    <ns:annotation>
      <ns:documentation>Specific location information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="SpecificLocationProperties"/>
          <ns:group ref="LocationProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="SpecificLocationIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="SpecificLocationProperties">
    <ns:sequence>
      <ns:element name="country" type="Country" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Country</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="address" type="Address" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Postal address</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="SpecificLocationIdentifier">
    <ns:restriction base="LocationIdentifier"/>
  </ns:simpleType>
  <ns:complexType name="UnspecificLocation">
    <ns:annotation>
      <ns:documentation>Unspecific location information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="UnspecificLocationProperties"/>
          <ns:group ref="LocationProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="UnspecificLocationIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="UnspecificLocationProperties">
    <ns:sequence>
      <ns:element name="jurisdiction" type="Jurisdiction" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The jurisdiction in which the service operates</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="UnspecificLocationIdentifier">
    <ns:restriction base="LocationIdentifier"/>
  </ns:simpleType>
  <ns:complexType name="CloudServiceModel">
    <ns:annotation>
      <ns:documentation>A cloud service model</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="CloudServiceModelProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="CloudServiceModelIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="CloudServiceModelProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="CloudServiceModelIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="saas">
        <ns:annotation>
          <ns:documentation>Software as a Service (SaaS)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="paas">
        <ns:annotation>
          <ns:documentation>Platform as a Service (PaaS)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="iaas">
        <ns:annotation>
          <ns:documentation>Infrastructure as a Service (IaaS)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="haas">
        <ns:annotation>
          <ns:documentation>Hardware as a Service (HaaS)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="ServiceCategory">
    <ns:annotation>
      <ns:documentation>The category of a service</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ServiceCategoryProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ServiceCategoryIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ServiceCategoryProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="ServiceCategoryIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="AddOnRepository">
    <ns:annotation>
      <ns:documentation>A service add-on repo</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="AddOnRepositoryProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="AddOnRepositoryIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="AddOnRepositoryProperties">
    <ns:sequence>
      <ns:element name="url" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Repository URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="number_of_add_ons" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Number of add-ons</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:decimal">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="AddOnRepositoryIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="ChargeUnit">
    <ns:annotation>
      <ns:documentation>The charge unit</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ChargeUnitProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ChargeUnitIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ChargeUnitProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="ChargeUnitIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="user_account">
        <ns:annotation>
          <ns:documentation>The number of user accounts</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="floating_license">
        <ns:annotation>
          <ns:documentation>The number of floating licenses</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="KeyControl">
    <ns:annotation>
      <ns:documentation>One possibility of key control</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="KeyControlProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="KeyControlIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="KeyControlProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="KeyControlIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="user_only">
        <ns:annotation>
          <ns:documentation>Only the service user controls the encryption keys</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="provider_only">
        <ns:annotation>
          <ns:documentation>Only the provider controls the encryption keys</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="shared">
        <ns:annotation>
          <ns:documentation>Both user and provider control the encryption keys</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="DataEncryption">
    <ns:annotation>
      <ns:documentation>Data encryption means</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="DataEncryptionProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="DataEncryptionIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="DataEncryptionProperties">
    <ns:sequence>
      <ns:element name="key_control" type="KeyControl" minOccurs="0">
        <ns:annotation>
          <ns:documentation>How is the key control carried out</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="DataEncryptionIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="AuditOption">
    <ns:annotation>
      <ns:documentation>An option to audit a service</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="AuditOptionProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="AuditOptionIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="AuditOptionProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="AuditOptionIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="audit_log">
        <ns:annotation>
          <ns:documentation>Audit log</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="BillingTerm">
    <ns:annotation>
      <ns:documentation>The billing term, e.g. "per month".</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="BillingTermProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="BillingTermIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="BillingTermProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="BillingTermIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="monthly">
        <ns:annotation>
          <ns:documentation>Monthly billing</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="annually">
        <ns:annotation>
          <ns:documentation>Annually billing</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="PaymentTerm">
    <ns:annotation>
      <ns:documentation>The payment terms, i.e., in advance and after use.</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="PaymentTermProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="PaymentTermIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="PaymentTermProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="PaymentTermIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="in_advance">
        <ns:annotation>
          <ns:documentation>Payment is done in advance of service consumption</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="after_use">
        <ns:annotation>
          <ns:documentation>Payment is done after service consumption</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="PaymentOption">
    <ns:annotation>
      <ns:documentation>The payment option</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="PaymentOptionProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="PaymentOptionIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="PaymentOptionProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="PaymentOptionIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="credit_card">
        <ns:annotation>
          <ns:documentation>Credit card</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="cheque">
        <ns:annotation>
          <ns:documentation>Cheque</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="invoice">
        <ns:annotation>
          <ns:documentation>Invoice</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="BillingAndPayment">
    <ns:annotation>
      <ns:documentation>Billing and payment information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="BillingAndPaymentProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="BillingAndPaymentIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="BillingAndPaymentProperties">
    <ns:sequence>
      <ns:element name="billing_term" type="BillingTerm" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Billing</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="payment_term" type="PaymentTerm" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Payment</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="BillingAndPaymentIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="Browser">
    <ns:annotation>
      <ns:documentation>A browser</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="BrowserProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="BrowserIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="BrowserProperties">
    <ns:sequence>
      <ns:element name="url" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Homepage</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="BrowserIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="firefox">
        <ns:annotation>
          <ns:documentation>Mozilla Firefox</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="opera">
        <ns:annotation>
          <ns:documentation>Opera Browser</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="chrome">
        <ns:annotation>
          <ns:documentation>Google Chrome</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="internet_explorer">
        <ns:annotation>
          <ns:documentation>Internet Explorer</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="safari">
        <ns:annotation>
          <ns:documentation>Apple Safari</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="BrowserPlugin">
    <ns:annotation>
      <ns:documentation>A browser plugin</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="BrowserPluginProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="BrowserPluginIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="BrowserPluginProperties">
    <ns:sequence>
      <ns:element name="url" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The browser plugin URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="BrowserPluginIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="flash">
        <ns:annotation>
          <ns:documentation>Adobe Flash</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="silverlight">
        <ns:annotation>
          <ns:documentation>Microsoft Silverlight</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="Interface">
    <ns:annotation>
      <ns:documentation>A service interface</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="InterfaceProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="InterfaceIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="InterfaceProperties">
    <ns:sequence>
      <ns:element name="interface_documentation" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The documentation of the interface</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="InterfaceIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="RestInterface">
    <ns:annotation>
      <ns:documentation>A RESTful interface</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="RestInterfaceProperties"/>
          <ns:group ref="InterfaceProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="RestInterfaceIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="RestInterfaceProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="RestInterfaceIdentifier">
    <ns:restriction base="InterfaceIdentifier"/>
  </ns:simpleType>
  <ns:complexType name="SoapInterface">
    <ns:annotation>
      <ns:documentation>A SOAP interface</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="SoapInterfaceProperties"/>
          <ns:group ref="InterfaceProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="SoapInterfaceIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="SoapInterfaceProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="SoapInterfaceIdentifier">
    <ns:restriction base="InterfaceIdentifier"/>
  </ns:simpleType>
  <ns:complexType name="XmlrpcInterface">
    <ns:annotation>
      <ns:documentation>An XMLRPC interface</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="XmlrpcInterfaceProperties"/>
          <ns:group ref="InterfaceProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="XmlrpcInterfaceIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="XmlrpcInterfaceProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="XmlrpcInterfaceIdentifier">
    <ns:restriction base="InterfaceIdentifier"/>
  </ns:simpleType>
  <ns:complexType name="Feature">
    <ns:annotation>
      <ns:documentation>A service feature</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="FeatureProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="FeatureIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="FeatureProperties">
    <ns:sequence>
      <ns:element name="feature_name" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Name</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="description" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Description</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="FeatureIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="CompatibleBrowser">
    <ns:annotation>
      <ns:documentation>Compatible browser information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="CompatibleBrowserProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="CompatibleBrowserIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="CompatibleBrowserProperties">
    <ns:sequence>
      <ns:element name="browser" type="Browser" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The browser</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="min_version" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Min version required</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="CompatibleBrowserIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="RequiredPlugin">
    <ns:annotation>
      <ns:documentation>The required plugins</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="RequiredPluginProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="RequiredPluginIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="RequiredPluginProperties">
    <ns:sequence>
      <ns:element name="browser_plugin" type="BrowserPlugin" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The plugin, which is required</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="min_version" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The minimum version</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="RequiredPluginIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="MaintenanceFree">
    <ns:annotation>
      <ns:documentation>Information about service maintenance</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="MaintenanceFreeProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="MaintenanceFreeIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="MaintenanceFreeProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="MaintenanceFreeIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="MaintenanceWindow">
    <ns:annotation>
      <ns:documentation>The maintenance window</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="MaintenanceWindowProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="MaintenanceWindowIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="MaintenanceWindowProperties">
    <ns:sequence>
      <ns:element name="timespan" type="Timespan" minOccurs="0">
        <ns:annotation>
          <ns:documentation>The maintenance window</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="MaintenanceWindowIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="DataFormat">
    <ns:annotation>
      <ns:documentation>The data format</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="DataFormatProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="DataFormatIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="DataFormatProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="DataFormatIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="csv">
        <ns:annotation>
          <ns:documentation>Comma-separated values (CSV)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="xls">
        <ns:annotation>
          <ns:documentation>Microsoft Excel</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="html">
        <ns:annotation>
          <ns:documentation>HTML</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="rtf">
        <ns:annotation>
          <ns:documentation>Rich text (RTF)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="word">
        <ns:annotation>
          <ns:documentation>Microsoft Word</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="open_office">
        <ns:annotation>
          <ns:documentation>Open Office</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="pdf">
        <ns:annotation>
          <ns:documentation>Adobe PDF</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="text">
        <ns:annotation>
          <ns:documentation>Plain text</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="odf">
        <ns:annotation>
          <ns:documentation>Open Document Format (ODF)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="pptx">
        <ns:annotation>
          <ns:documentation>Microsoft PowerPoint</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="png">
        <ns:annotation>
          <ns:documentation>Portable Network Graphics (PNG)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="jpeg">
        <ns:annotation>
          <ns:documentation>JPEG</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="svg">
        <ns:annotation>
          <ns:documentation>Scalable Vector Graphics (SVG)</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="CommunicationProtection">
    <ns:annotation>
      <ns:documentation>A communication protection means</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="CommunicationProtectionProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="CommunicationProtectionIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="CommunicationProtectionProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="CommunicationProtectionIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="https">
        <ns:annotation>
          <ns:documentation>HTTPS encryption</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="vpn">
        <ns:annotation>
          <ns:documentation>VPN connection</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="ReferenceCustomer">
    <ns:annotation>
      <ns:documentation>A reference Customer</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ReferenceCustomerProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ReferenceCustomerIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ReferenceCustomerProperties">
    <ns:sequence>
      <ns:element name="name" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Customer name</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="url" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Customer URL</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="users" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Service Users</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:decimal">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
      <ns:element name="description" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>Description</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:string">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="ReferenceCustomerIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="CompanyType">
    <ns:annotation>
      <ns:documentation>The company type</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="CompanyTypeProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="CompanyTypeIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="CompanyTypeProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="CompanyTypeIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="plc">
        <ns:annotation>
          <ns:documentation>Public Limited Company</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="Initiative">
    <ns:annotation>
      <ns:documentation>An business initiative</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="InitiativeProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="InitiativeIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="InitiativeProperties">
    <ns:sequence>
      <ns:element name="url" minOccurs="0" maxOccurs="1">
        <ns:annotation>
          <ns:documentation>The initiative homepage</ns:documentation>
        </ns:annotation>
        <ns:complexType>
          <ns:simpleContent>
            <ns:extension base="ns:anyURI">
              <ns:attribute name="annotation"/>
            </ns:extension>
          </ns:simpleContent>
        </ns:complexType>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="InitiativeIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
  <ns:complexType name="Report">
    <ns:annotation>
      <ns:documentation>A published report</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ReportProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ReportIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ReportProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="ReportIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="financial_statement">
        <ns:annotation>
          <ns:documentation>The financial statement</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="Period">
    <ns:annotation>
      <ns:documentation>Period</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="PeriodProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="PeriodIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="PeriodProperties">
    <ns:sequence/>
  </ns:group>
  <ns:simpleType name="PeriodIdentifier">
    <ns:restriction base="ns:string">
      <ns:enumeration value="daily">
        <ns:annotation>
          <ns:documentation>Daily</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="weekly">
        <ns:annotation>
          <ns:documentation>Weekly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="biweekly">
        <ns:annotation>
          <ns:documentation>Biweekly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="monthly">
        <ns:annotation>
          <ns:documentation>Monthly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="bimonthly">
        <ns:annotation>
          <ns:documentation>Bimonthly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="quarterly">
        <ns:annotation>
          <ns:documentation>Quarterly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="halfyearly">
        <ns:annotation>
          <ns:documentation>Halfyearly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
      <ns:enumeration value="yearly">
        <ns:annotation>
          <ns:documentation>Yearly</ns:documentation>
        </ns:annotation>
      </ns:enumeration>
    </ns:restriction>
  </ns:simpleType>
  <ns:complexType name="ReportingInformation">
    <ns:annotation>
      <ns:documentation>Published reporting information</ns:documentation>
    </ns:annotation>
    <ns:complexContent>
      <ns:extension base="SDLTypeBase">
        <ns:sequence>
          <ns:group ref="ReportingInformationProperties"/>
        </ns:sequence>
        <ns:attribute name="identifier" type="ReportingInformationIdentifier">
          <ns:annotation>
            <ns:documentation>An identifier for a type instance. Two instances are the same, if they share the same identifier.</ns:documentation>
          </ns:annotation>
        </ns:attribute>
      </ns:extension>
    </ns:complexContent>
  </ns:complexType>
  <ns:group name="ReportingInformationProperties">
    <ns:sequence>
      <ns:element name="report" type="Report" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Report</ns:documentation>
        </ns:annotation>
      </ns:element>
      <ns:element name="period" type="Period" minOccurs="0">
        <ns:annotation>
          <ns:documentation>Period</ns:documentation>
        </ns:annotation>
      </ns:element>
    </ns:sequence>
  </ns:group>
  <ns:simpleType name="ReportingInformationIdentifier">
    <ns:restriction base="ns:string"/>
  </ns:simpleType>
</ns:schema>
